.container{
    max-width: 1150px;
}
body{
    font-family: 'Work Sans', sans-serif;
}
a{
    text-decoration: none;
}
.section-title h2{
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 900;
    opacity: .07;
}
.subtitle{
    position: relative;
    top: -4.8rem;
    left: 0;
}
.subtitle h4{
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 800;
    color: rgb(239, 186, 108)
}
.subtitle h3{
    font-size: 1.7rem;
    letter-spacing: .1rem;
}
img{
    max-width: 100%;
}
.content-width {
    width: 40%;
    margin: 0 5%;
}
/* Menubar Style */

.navbar-nav .nav-item .nav-link{
    color: #222;
    margin: 0 1rem;
}

/* Hero Style */

.hero{
    background: url(./images/10001.jpg);
    background-size: cover;
    background-position: center;
    /* height: 100vh; */
    position: relative;
    z-index: 1;
}
.hero::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .3);
    z-index: -1;
}
.hero-content{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-content h1{
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 3.5rem;
}
.hero-content p{
    line-height: 25px;
    padding: .8rem 0;
}
figure{
    font-size: 80px;
}
figcaption h6{
    margin: 2.3rem 0 0 1rem;
}

/* Story Style */

.story-data-content .section-title h2{
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 900;
    opacity: .07;
}
.story-data-content .subtitle{
    position: relative;
    top: -4.8rem;
    left: 0;
}
.story-data-content .subtitle h4{
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 800;
    color: rgb(239, 186, 108)
}
.story-data-content .subtitle h3{
    font-size: 1.7rem;
    letter-spacing: .1rem;
}
.story-data-content .para-top{
    margin-top: -1.5rem;
    font-size: 1.1rem;
    color: rgb(54, 77, 89);
}


/* Trips Style */

.trips-data-img img{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    position: relative;
}
.trips-data-img figure:hover img{
    -webkit-transform: scale(1);
    transform: scale(1);
}
.trips-data-img figure{
    overflow: hidden;
}
.trips-data-img .img-list figcaption{
    position: relative;
    top: -100px;
    left: 0;
}
.img-list figcaption h4{
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
    margin-top: 1rem;
}
.trips-data-img .img-list figcaption .link-button{
    padding: 5px 20px;
    background: rgb(207, 199, 108);
    color: #fff;
    border-radius: 30px;
}
.img-list figcaption .link-button:hover{
    background-color: rgb(221, 221, 125);
}

/* Team Style */

.team-data .team-member figcaption p{
    width: 85%;
    margin: auto;
}

.social-media-icons{
    font-size: 30px;
    color: orange;
}

/* Testimonial Style */











